{
  "CN": "{{ adminUser }}",
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "C": "{{ kubecert.country }}",
      "L": "{{ kubecert.locality }}",
      "O": "{{ adminGroup }}",
      "OU": "{{ kubecert.organizationalunit }}",
      "ST": "{{ kubecert.stateorprovince }}"
    }
  ]
}