apiVersion: v1
kind: Config
clusters:
- name: {{ cluster.name }}
  cluster:
    certificate-authority: /etc/kubernetes/certs/ca.pem
    server: "{% if 'controlplane' in group_names %}https://127.0.0.1:6443{% else %}https://{{ server.controlplane.nodes[0].ip }}:6443{% endif %}" 
users:
- name: admin
  user:
    client-certificate: "/etc/kubernetes/certs/admin.pem"
    client-key: "/etc/kubernetes/certs/admin-key.pem"
contexts:
- name: kubernetes
  context:
    cluster: {{ cluster.name }}
    user: admin
current-context: kubernetes