[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/kubernetes/kubernetes
Wants=docker.service
After=docker.service

[Service]
ExecStart=/usr/bin/kubelet \
{% set combined_options = kubelet_opts -%}
{% for option in combined_options | dictsort %}
{% if option[1] is defined and option[1] | string | length > 0 %}
  --{{ option[0] }}={{ option[1] }} {% if not loop.last %}\
{% endif %}
{% endif %}
{% endfor %}

Restart=on-failure
RestartSec=3
WorkingDirectory=/root/

[Install]
WantedBy=multi-user.target