apiVersion: v1
kind: Config
preferences: {}
clusters:
- name: {{ cluster.name }}
  cluster:
    certificate-authority: /etc/kubernetes/certs/ca.pem
    server: "{% if 'controlplane' in group_names %}https://127.0.0.1:{{ kube_master_secure_port }}{% else %}https://{{ server.controlplane.nodes[0].ip }}:{{ kube_master_secure_port }}{% endif %}"
users:
- name: kubelet
  user:
    client-certificate: "/etc/kubernetes/certs/kubelet.pem"
    client-key:  "/etc/kubernetes/certs/kubelet-key.pem"
contexts:
- name: kubelet-{{ cluster.name }}
  context:
    cluster: {{ cluster.name }}
    user: kubelet
current-context: kubelet-{{ cluster.name }}