apiVersion: v1
kind: Config
preferences: {}
clusters:
- name: {{ cluster.name }}
  cluster:
    certificate-authority: /etc/kubernetes/certs/ca.pem
    server: "{% if 'controlplane' in group_names %}https://127.0.0.1:{{ kube_master_secure_port }}{% else %}https://{{ server.controlplane.nodes[0].ip }}:{{ kube_master_secure_port }}{% endif %}"
contexts:
- name: kube-proxy-{{ cluster.name }}
  context:
    cluster: {{ cluster.name }}
    user: kube-proxy
current-context: kube-proxy-{{ cluster.name }}
users:
- name: kube-proxy
  user:
    client-certificate: "/etc/kubernetes/certs/kube-proxy.pem"
    client-key: "/etc/kubernetes/certs/kube-proxy-key.pem"