apiVersion: v1
kind: Config
clusters:
- name: {{ cluster.name }}
  cluster:
    certificate-authority: /etc/kubernetes/certs/ca.pem
    server: "{% if 'controlplane' in group_names %}https://127.0.0.1:{{ kube_master_secure_port }}{% else %}https://{{ server.controlplane.nodes[0].ip }}:{{ kube_master_secure_port }}{% endif %}"
users:
- name: controller-manager
  user:
    client-certificate: /etc/kubernetes/certs/controller-manager.pem
    client-key:  /etc/kubernetes/certs/controller-manager-key.pem
contexts:
- name: default
  context:
    cluster: {{ cluster.name }}
    user: controller-manager
current-context: default