apiVersion: v1
kind: Config
preferences: {}
clusters:
- cluster:
    certificate-authority-data: {{ dashCreds.results[0]['content'] }}
    server: "https://{{ server.controlplane.nodes[0].ip }}:6443"
  name: {{ cluster.name }}
contexts:
- context:
    cluster: {{ cluster.name }}
    user: admin
  name: {{ cluster.name }}-dashboard-admin
current-context: {{ cluster.name }}-dashboard-admin
users:
- name: admin
  user:
    client-certificate-data:
    client-key-data:
    token: {{ dashCreds.results[1]['content'] | b64decode }}