apiVersion: v1
kind: Config
preferences: {}
clusters:
- cluster:
    certificate-authority-data: {{ adminCreds.results[0]['content'] }}
    server: "https://{{ server.controlplane.nodes[0].ip }}:6443"
  name: {{ cluster.name }}
contexts:
- context:
    cluster: {{ cluster.name }}
    user: admin
  name: {{ cluster.name }}
current-context: {{ cluster.name }}
users:
- name: admin
  user:
    client-certificate-data: {{ adminCreds.results[1]['content'] }}
    client-key-data: {{ adminCreds.results[2]['content'] }}