[Unit]
Description=etcd key-value store
Documentation=https://github.com/coreos/etcd
After=network.target

[Service]
Type=notify
User=root
ExecStart=/usr/bin/etcd \
  --name={{ server.etcd.nodes[0].nodename }} \
  --data-dir=/var/lib/etcd \
  --client-cert-auth \
  --cert-file=/etc/etcd/certs/etcd.pem \
  --key-file=/etc/etcd/certs/etcd-key.pem \
  --peer-client-cert-auth \
  --peer-cert-file=/etc/etcd/certs/etcd.pem \
  --peer-key-file=/etc/etcd/certs/etcd-key.pem \
  --trusted-ca-file=/etc/etcd/certs/ca.pem \
  --peer-trusted-ca-file=/etc/etcd/certs/ca.pem \
  --initial-advertise-peer-urls=https://{{ server.etcd.nodes[0].ip }}:2380 \
  --listen-peer-urls=https://0.0.0.0:2380 \
  --listen-client-urls=https://0.0.0.0:2379 \
  --advertise-client-urls=https://{{ server.etcd.nodes[0].ip }}:2379 \
  --initial-cluster-token=etcd-cluster-rok8 \
  --initial-cluster={{ server.etcd.nodes[0].nodename }}=https://{{ server.etcd.nodes[0].ip }}:2380 \
  --initial-cluster-state=new
NotifyAccess=all
Restart=on-failure
RestartSec=3
LimitNOFILE=40000

[Install]
WantedBy=multi-user.target