apiVersion: v1
kind: Config
clusters:
- name: {{ cluster.name }}
  cluster:
    certificate-authority: /etc/kubernetes/certs/ca.pem
    server: "{% if 'controlplane' in group_names %}https://127.0.0.1:{{ kube_master_secure_port }}{% else %}https://{{ server.controlplane.nodes[0].ip }}:{{ kube_master_secure_port }}{% endif %}"
users:
- name: scheduler
  user:
    client-certificate: /etc/kubernetes/certs/scheduler.pem
    client-key:  /etc/kubernetes/certs/scheduler-key.pem
contexts:
- name: default
  context:
    cluster: {{ cluster.name }}
    user: scheduler
current-context: default