apiVersion: v1
kind: Config
preferences: {}
clusters:
- cluster:
    certificate-authority: /etc/kubernetes/certs/ca.pem
    server: "{% if 'controlplane' in group_names %}https://127.0.0.1:6443{% else %}https://{{ server.controlplane.nodes[0].ip }}:6443{% endif %}"
  name: {{ cluster.name }}
contexts:
- context:
    cluster: {{ cluster.name }}
    user: calico
  name: service-account-{{ cluster.name }}
current-context: service-account-{{ cluster.name }}
users:
- name: calico
  user:
    client-certificate-data:
    client-key-data:
    token: {{ account_token }}